# <font color='blue'>An√°lise de Vendas em E-commerce com Python</font>
## <font color='blue'>Por Afonso Martins</font>

### üîç Sobre o Projeto
An√°lise explorat√≥ria de dados de vendas em uma loja de e-commerce utilizando **Python, Pandas, NumPy e Matplotlib**.  
O objetivo √© identificar padr√µes de consumo, produtos mais vendidos e indicadores de desempenho.

### üß† Tecnologias
Python ‚Ä¢ Pandas ‚Ä¢ NumPy ‚Ä¢ Matplotlib ‚Ä¢ Jupyter Notebook / VS Code

### üë®‚Äçüíª Autor
**Afonso Martins**  
üíª [github.com/afonsomartins](https://github.com/afonsomartins)

## üìä 1.1 Problema de Neg√≥cio
A loja de e-commerce est√° em expans√£o, com um volume crescente de transa√ß√µes di√°rias. No entanto, o grande volume de dados ainda n√£o √© plenamente aproveitado ‚Äî decis√µes estrat√©gicas s√£o tomadas com base em percep√ß√µes e n√£o em evid√™ncias concretas. Isso gera alguns desafios:

- üè¨ **Gest√£o de Estoque Ineficiente:** Falta clareza sobre os produtos mais vendidos e os que t√™m baixa rotatividade, resultando em excesso de estoque ou falta de itens de alta demanda.
- üéØ **Marketing Gen√©rico:** As campanhas n√£o s√£o segmentadas por categoria ou regi√£o, reduzindo o retorno sobre o investimento.
- üìÜ **Perda de Oportunidades Sazonais:** Aus√™ncia de an√°lises temporais impede o aproveitamento de per√≠odos de alta ou o est√≠mulo de vendas em per√≠odos de baixa.
- üåé **Expans√£o sem Dire√ß√£o:** A falta de visibilidade regional dificulta decis√µes sobre log√≠stica e novos mercados.

O principal problema √© a **aus√™ncia de visibilidade anal√≠tica sobre a performance do neg√≥cio**, o que limita decis√µes r√°pidas, precisas e baseadas em dados.

---

## üéØ 1.2 Objetivos do Projeto
Transformar os dados brutos de vendas em **insights acion√°veis** que orientem decis√µes estrat√©gicas. As principais perguntas de neg√≥cio a serem respondidas s√£o:

- üí° **O que vender?** Identificar os produtos de maior e menor desempenho.  
- üß≠ **Onde focar?** Detectar as categorias mais rent√°veis e as regi√µes com maior representatividade.  
- ‚è∞ **Quando agir?** Compreender a sazonalidade e os per√≠odos de pico de vendas.  
- üöÄ **Para onde expandir?** Mapear o potencial de crescimento regional.

---

## üß© 1.3 Solu√ß√£o Proposta
Consolidar, limpar e analisar o hist√≥rico de vendas utilizando **Python**, **Pandas**, **NumPy** e **Matplotlib**, para construir um **relat√≥rio visual e interativo** com os principais indicadores do neg√≥cio. O foco √© gerar **informa√ß√µes objetivas e acess√≠veis** para as √°reas de gest√£o, marketing e opera√ß√µes.

---

## üìà 1.4 Resultados Esperados e Benef√≠cios
- üì¶ **Otimiza√ß√£o de Estoque:** Reduzir custos e perdas, garantindo a disponibilidade de produtos de alta demanda.  
- üì¢ **Marketing Direcionado:** Criar campanhas mais segmentadas e eficientes.  
- üìä **Planejamento Estrat√©gico:** Antecipar tend√™ncias e ajustar recursos de forma proativa.  
- üíº **Cultura Data-Driven:** Sustentar o crescimento com base em dados e indicadores concretos.

## 2. Importa√ß√£o das Bibliotecas para usarmos no projeto

In [1]:

# Manipula√ß√£o e an√°lise de dados
import pandas as pd
import numpy as np

# Visualiza√ß√£o de dados
import matplotlib.pyplot as plt
import seaborn as sns

# Gera√ß√£o de n√∫meros aleat√≥rios
import random

# Manipula√ß√£o de datas
from datetime import datetime, timedelta

# Configura√ß√µes de exibi√ß√£o de gr√°ficos no notebook
%matplotlib inline

In [8]:
%reload_ext watermark
%watermark -a "Afonso Martins"
%watermark -v
%watermark --iversions

Author: Afonso Martins

Python implementation: CPython
Python version       : 3.12.10
IPython version      : 9.6.0

pandas    : 2.3.3
seaborn   : 0.13.2
matplotlib: 3.10.7
numpy     : 2.3.4

## 3. Fun√ß√£o Para Gera√ß√£o de Dados Fict√≠cios

In [10]:
# Defini√ß√£o da fun√ß√£o para gerar dados fict√≠cios de vendas
def base_dados_ficticios(num_registros = 600):
    
    """
    Gera um DataFrame do Pandas com dados de vendas fict√≠cios.

    """

    # Mensagem inicial indicando a quantidade de registros a serem gerados
    print(f"\nIniciando a gera√ß√£o de {num_registros} registros de vendas...")

    # Dicion√°rio com produtos, suas categorias e pre√ßos
    produtos = {
        'Laptop Gamer': {'categoria': 'Eletr√¥nicos', 'preco': 7500.00},
        'Mouse Vertical': {'categoria': 'Acess√≥rios', 'preco': 250.00},
        'Teclado Mec√¢nico': {'categoria': 'Acess√≥rios', 'preco': 550.00},
        'Monitor Ultrawide': {'categoria': 'Eletr√¥nicos', 'preco': 2800.00},
        'Cadeira Gamer': {'categoria': 'M√≥veis', 'preco': 1200.00},
        'Headset 7.1': {'categoria': 'Acess√≥rios', 'preco': 800.00},
        'Placa de V√≠deo': {'categoria': 'Hardware', 'preco': 4500.00},
        'SSD 1TB': {'categoria': 'Hardware', 'preco': 600.00}
    }

    # Cria uma lista apenas com os nomes dos produtos
    lista_produtos = list(produtos.keys())

    # Dicion√°rio com cidades e seus respectivos estados
    cidades_estados = {
        'S√£o Paulo': 'SP', 'Rio de Janeiro': 'RJ', 'Belo Horizonte': 'MG',
        'Porto Alegre': 'RS', 'Salvador': 'BA', 'Curitiba': 'PR', 'Fortaleza': 'CE'
    }

    # Cria uma lista apenas com os nomes das cidades
    lista_cidades = list(cidades_estados.keys())

    # Lista que armazenar√° os registros de vendas
    dados_vendas = []

    # Define a data inicial dos pedidos
    data_inicial = datetime(2026, 1, 1)

    # Loop para gerar os registros de vendas
    for i in range(num_registros):
        
        # Seleciona aleatoriamente um produto
        produto_nome = random.choice(lista_produtos)

        # Seleciona aleatoriamente uma cidade
        cidade = random.choice(lista_cidades)

        # Gera uma quantidade de produtos vendida entre 1 e 7
        quantidade = np.random.randint(1, 8)

        # Calcula a data do pedido a partir da data inicial
        data_pedido = data_inicial + timedelta(days = int(i/5), hours = random.randint(0, 23))

        # Se o produto for Mouse ou Teclado, aplica desconto aleat√≥rio de at√© 10%
        if produto_nome in ['Mouse Vertical', 'Teclado Mec√¢nico']:
            preco_unitario = produtos[produto_nome]['preco'] * np.random.uniform(0.9, 1.0)
        else:
            preco_unitario = produtos[produto_nome]['preco']

        # Adiciona um registro de venda √† lista
        dados_vendas.append({
            'ID_Pedido': 1000 + i,
            'Data_Pedido': data_pedido,
            'Nome_Produto': produto_nome,
            'Categoria': produtos[produto_nome]['categoria'],
            'Preco_Unitario': round(preco_unitario, 2),
            'Quantidade': quantidade,
            'ID_Cliente': np.random.randint(100, 150),
            'Cidade': cidade,
            'Estado': cidades_estados[cidade]
        })
    
    # Mensagem final indicando que a gera√ß√£o terminou
    print("Gera√ß√£o de dados conclu√≠da.\n")

    # Retorna os dados no formato de DataFrame
    return pd.DataFrame(dados_vendas)

## 4. Gerar, Carregar e Explorar os Dados

In [26]:
#Gera o DataFrame com dados fict√≠cios de vendas
df_vendas = base_dados_ficticios(600)

Iniciando a gera√ß√£o de 600 registros de vendas...
Gera√ß√£o de dados conclu√≠da.

In [19]:
# verifica√ß√£o de quantidade de registros e colunas
df_vendas.shape

(600, 9)

In [27]:
#exibi√ß√£o das 5 primeiras linhas do DataFrame
df_vendas.head()

,ID_Pedido,Data_Pedido,Nome_Produto,Categoria,Preco_Unitario,Quantidade,ID_Cliente,Cidade,Estado
0,1000,2026-01-01 14:00:00,Laptop Gamer,Eletr√¥nicos,7500.0,1,121,Porto Alegre,RS
1,1001,2026-01-01 19:00:00,Cadeira Gamer,M√≥veis,1200.0,7,107,Rio de Janeiro,RJ
2,1002,2026-01-01 15:00:00,Placa de V√≠deo,Hardware,4500.0,1,128,Fortaleza,CE
3,1003,2026-01-01 16:00:00,Monitor Ultrawide,Eletr√¥nicos,2800.0,5,147,Belo Horizonte,MG
4,1004,2026-01-01 10:00:00,Headset 7.1,Acess√≥rios,800.0,2,120,S√£o Paulo,SP

In [28]:
#exibir as ultimas 5 linhas do DataFrame
df_vendas.tail()

,ID_Pedido,Data_Pedido,Nome_Produto,Categoria,Preco_Unitario,Quantidade,ID_Cliente,Cidade,Estado
595,1595,2026-04-30 18:00:00,Placa de V√≠deo,Hardware,4500.00,2,131,Salvador,BA
596,1596,2026-04-30 18:00:00,Monitor Ultrawide,Eletr√¥nicos,2800.00,2,116,Porto Alegre,RS
597,1597,2026-04-30 10:00:00,Teclado Mec√¢nico,Acess√≥rios,513.00,7,149,S√£o Paulo,SP
598,1598,2026-04-30 21:00:00,Teclado Mec√¢nico,Acess√≥rios,525.45,2,126,Rio de Janeiro,RJ
599,1599,2026-04-30 10:00:00,Teclado Mec√¢nico,Acess√≥rios,512.40,1,134,Porto Alegre,RS

In [29]:
#exibir informa√ß√µes gerais do DataFrame
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_Pedido       600 non-null    int64
 1   Data_Pedido     600 non-null    datetime64[ns]
 2   Nome_Produto    600 non-null    object
 3   Categoria       600 non-null    object
 4   Preco_Unitario  600 non-null    float64
 5   Quantidade      600 non-null    int64
 6   ID_Cliente      600 non-null    int64
 7   Cidade          600 non-null    object
 8   Estado          600 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 42.3+ KB

In [30]:
#resumo estat√≠stico do DataFrame
df_vendas.describe()

,ID_Pedido,Data_Pedido,Preco_Unitario,Quantidade,ID_Cliente
count,600.000000,600,600.000000,600.000000,600.000000
mean,1299.500000,2026-03-01 23:27:00,2321.269067,4.008333,124.400000
min,1000.000000,2026-01-01 10:00:00,225.160000,1.000000,100.000000
25%,1149.750000,2026-01-30 23:00:00,586.672500,2.000000,111.750000
50%,1299.500000,2026-03-01 21:30:00,1200.000000,4.000000,124.000000
75%,1449.250000,2026-03-31 18:45:00,3225.000000,6.000000,137.250000
max,1599.000000,2026-04-30 21:00:00,7500.000000,7.000000,149.000000
std,173.349358,NaN,2448.472638,1.966734,14.573858

In [31]:
# tipos de dados de cada coluna
df_vendas.dtypes

ID_Pedido                  int64
Data_Pedido       datetime64[ns]
Nome_Produto              object
Categoria                 object
Preco_Unitario           float64
Quantidade                 int64
ID_Cliente                 int64
Cidade                    object
Estado                    object
dtype: object